---
import SetupTemplate from '../../templates/SetupTemplate.astro'
const preset = ["Trial","Entry","Standard","Suite","Pro"]
const lang = Astro.cookies.get("setup-language")?.value
if(!Astro.cookies.has("setup-language"))return Astro.redirect("../welcome")
const ja = lang==="ja"||lang==="ja-JP"
---
<SetupTemplate title={ja?"プリセットを選んでください。":"Please select a preset."} prev="../welcome" next="./type" lang={lang!} disabled={!Astro.cookies.has("setup-preset")}>
    <script>
        const preset = ["Trial","Entry","Standard","Suite","Pro"]
        const get = document.cookie.match(/setup-preset\=([^\;]*)\;*/)!
        let selected = get?get[1].slice(1,-1):""
        const btn = document.getElementById("next") as HTMLButtonElement
        document.addEventListener('astro:after-swap',()=>{
            try{
                const btn = document.getElementById("next") as HTMLButtonElement
                preset.forEach(e => {
                    document.getElementById(e)!.onclick =()=>{
                        btn.disabled = false
                        select(e)
                    }
                })
                if(selected!="")select(selected)
            }catch{}
        })
        window.addEventListener('focus',()=>{
            document.getElementById(selected)!.style.backgroundColor = window.matchMedia('(prefers-color-scheme: dark)').matches?"#708ab0":"#d0ddf0"
        })
        function select(target:string){
            try{
                if(selected!=""){
                    document.getElementById(selected)!.style.removeProperty("background-color")
                    document.getElementById(selected)!.style.removeProperty("border")
                    document.getElementById(selected)!.style.removeProperty("outline")
                    document.getElementById(`${selected.toLowerCase()}Detail`)!.style.display = "none"
                }
                selected = target
                document.getElementById("presetHead")!.innerText = target
                document.getElementById(`${target.toLowerCase()}Detail`)!.style.display = "block"
                document.getElementById(target)!.style.backgroundColor = window.matchMedia('(prefers-color-scheme: dark)').matches?"#708ab0":"#d0ddf0"
                document.getElementById(target)!.style.outline = "none"
                document.getElementById(target)!.style.border = "solid 3px #99bbff"
                document.cookie = `setup-preset="${target}";max-age=86400;path=/`
            }catch{return}
        }
        preset.forEach(e => {
            document.getElementById(e)!.onclick =()=>{
                btn.disabled = false
                select(e)
            }
        })
        if(selected!="")select(selected)
    </script>
    <div class="pr-2 w-1/3">
        {preset.map(e => 
            <button class="w-full @hs:h-8 h-16 text-xl @hs:text-lg @lt:text-2xl border-b-2 border-gray-300 hover:bg-slate-200 dark:hover:bg-slate-500 rounded duration-300 outline-none focus:outline -outline-offset-1 focus:outline-blue-300" id={e} transition:persist>{e}</button>
        )}
    </div>
    <div class="border-l border-gray-400 pl-2 w-2/3">
        <div class="h-full">
            <div id="presetHead" class="h-10 @hs:h-8 text-2xl @hs:text-xl @mb:text-3xl animate-fadein"></div>
            <hr class="border-slate-300 py-1">
            <div class="text-left text-base @hs:text-sm @tb:text-xl flex justify-center" id="presetBody">
                <div id="trialDetail" class="animate-slidein" style="display:none">
                    {ja?<>
                    Waberを体験していただくことを重視したプリセットです。<br/>
                    拡張機能などが入っておらず、シンプルな状態になっています。<br/>
                    そのままの状態のWaberをご利用いただけます。
                    </>:<>
                    This preset is focused on giving you the Waber experience. <br/>
                    It is kept simple, with no extensions. <br/>
                    You can use Waber as it is.
                    </>}
                </div>
                <div id="entryDetail" class="animate-slidein" style="display:none">
                    {ja?<>
                    Webサイト作りに入門することを重視したプリセットです。<br/>
                    細かな説明を表示するなど、様々な拡張機能が入っており、<br/>
                    初心者の方の学習をサポートします。
                    </>:<>
                    This preset emphasizes an introduction to website creation. <br/>
                    It includes a variety of extensions, such as displaying detailed descriptions, to It supports beginners in their learning. <br/>
                    </>}
                </div>
                <div id="standardDetail" class="animate-slidein" style="display:none">
                    {ja?<>
                    Webサイト作りが趣味の方などに向いたプリセットです。<br/>
                    ある程度の拡張機能がプリインストールされており、<br/>
                    万人向けの使いやすさを重視しています。
                    </>:<>
                    This preset is suitable for hobbyists and others who enjoy making websites. <br/>
                    It comes pre-installed with a certain amount of extensions,and is designed to be easy to use for everyone. <br/>
                    It is designed to be easy to use for everyone.
                    </>}
                </div>
                <div id="suiteDetail" class="animate-slidein" style="display:none">
                    {ja?<>
                    Webサイト作りが得意な人に向いたプリセットです。<br/>
                    Waber固有のオリジナルな概念等を削ぎ落とし、<br/>
                    使いやすいことを重視しています。
                    </>:<>
                    This preset is suitable for people who are good at making websites. <br/>
                    The emphasis is on ease of use, with the original Waber concepts and other features stripped away and focus on ease of use.
                    </>}
                </div>
                <div id="proDetail" class="animate-slidein" style="display:none">
                    {ja?<>
                    本格的なWebサイト作りに向いたプリセットです。<br/>
                    Suiteに加え、オリジナルな機能を多数有効化し、<br/>
                    Waberの能力を最大限発揮することができます。
                    </>:<>
                    This preset is suitable for full-fledged website creation. <br/>
                    In addition to the Suite, a number of original features can be enabled to
                    Waber to its full potential.
                    </>}
                </div>
            </div>
        </div>
    </div>
</SetupTemplate>