---
import { slide } from "astro:transitions"
import Template from "../layouts/Template.astro"
interface Props {
    title: string,
    prev: string,
    next: string,
    lang: string,
    disabled: boolean
}
const { title,prev,next,lang,disabled } = Astro.props
---

<Template title="Setup" className='bg-slate-200 dark:bg-slate-700 text-gray-800 dark:text-gray-100 overflow-hidden' transition={true} lang={lang}>
    <div class="h-[100lvh] flex justify-center items-center">
        <div class="text-center w-[100svw] @tb:w-[100svw] @lt:w-[90svw]">
            <span transition:animate={slide({duration:"0.5s"})} class="animate-fadein" transition:name="slider">
                <div class="text-base @mb:text-xl @hs:text-2xl @tb:text-3xl @lt:text-4xl @pc:text-5xl @dp:text-7xl font-semibold text-center mb-3 @tb:mb-7 @hs:mb-2 px-10">{title}</div>
                <div class="flex justify-center">
                    <div class="w-11/12 @tb:w-3/4 @lt:w-2/3 h-full p-1 @hs:py-0.5 @mb:p-2 @tb:p-3 bg-slate-100 dark:bg-slate-600 rounded-lg flex">
                        <slot/>
                    </div>
                </div>
            </span>
            <div class="flex justify-center pt-4 @hs:pt-1">
                <div class="w-11/12 @tb:w-3/4 @lt:w-2/3 @mb:flex">
                    <div class="flex w-full justify-center @mb:justify-start">
                        <a href={prev} class="rounded-lg w-full @mb:w-4/5 @tb:w-3/5 @lt:w-1/2 h-12 @hs:h-8 outline-none mb-5 @tb:mb-0" tabindex="-1" aria-disabled="true">
                            <button class="w-full h-full rounded-lg border-2 border-blue-400 text-blue-400 text-xl outline-none focus:outline-2 focus:outline-offset-2 focus:outline-blue-300 hover:opacity-70 duration-300">
                                {lang==="ja"?"前へ":"Prev"}
                            </button>
                        </a>
                    </div>
                    <div class="flex w-full justify-center @mb:justify-end">
                        <a href={next} class="rounded-lg w-full @mb:w-4/5 @tb:w-3/5 @lt:w-1/2 h-12 @hs:h-8 outline-none" tabindex="-1" aria-disabled="true">
                            <button class="w-full h-full rounded-lg bg-blue-400 text-white text-xl outline-none focus:outline-2 focus:outline-offset-2 focus:outline-blue-300 disabled:opacity-50 hover:opacity-70 duration-300" id="next" disabled={disabled}>
                                {lang==="ja"?"次へ":"Next"}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Template>
